@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the fourth task</h1>
    <h2>Список таблиц в базе данных:</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetClients">Клиенты</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetEmployees">Работники</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetFurniture">Мебель</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetOrders">Заказы</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="GetWaybills">Накладные</a>
</div>
