@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the fourth task</h1>
    <h2>Список таблиц в базе данных:</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Клиенты</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Работники</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Furniture" asp-action="Index">Мебель</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Заказы</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Waybill" asp-action="Index">Накладные</a>
</div>
