<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CourseProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
</head>
<body>
    <header>
        <nav class="main navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div>
                <a class="navbar-brand" style="color:white;" asp-controller="Home" asp-action="Index">История</a>
            </div>
            <a class="nav-link" style="color:white;" asp-area="" asp-controller="Client" asp-action="Index">Клиенты</a>
            <a class="nav-link" style="color:white;" asp-area="" asp-controller="Employee" asp-action="Index">Работники</a>
            <a class="nav-link" style="color:white;" asp-area="" asp-controller="Furniture" asp-action="Index">Мебель</a>
            <a class="nav-link" style="color:white;" asp-area="" asp-controller="Order" asp-action="Index">Заказы</a>
            <a class="nav-link" style="color:white;" asp-area="" asp-controller="Waybill" asp-action="Index">Накладные</a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="tables">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
